# IntelliJ
.idea/

# cmake
cmake-build-debug/
.cmake/
CMakeCache.txt
CMakeFiles/
Makefile
**/*.cmake

# binary
enigma

# misc
todo.txt
textfiles/*.txt
Testing.cpp
Tests.cpp


# github c++ template

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
